{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-borderless align-middle" data-test="url">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ url.id }}</td>
                    <td>{{url.name}}</td>
                    <td>{{url.created_at | format_date if url.created_at else '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <form action="{{ url_for('check_url', id=url.id) }}" method="post">
            <input type="submit" class="btn btn-primary" value="Запустить проверку" text="Запустить проверку">
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-borderless align-middle" data-test="checks">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for check in url.checks %}
                <tr>
                    <td>{{check.id}}</td>
                    <td>{{check.status_code}}</td>
                    <td>{{check.h1}}</td>
                    <td>{{check.title}}</td>
                    <td>{{check.description}}</td>
                    <td>{{check.created_at | format_date if check.created_at else '' }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
